.header {
    font-family: Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.ParametersContainer button {
    background-color: var(--color-primary) !important;
}

.generate-btn {
    background-color: var(--color-accent) !important;
    color: var(--color-black) !important;
}

.TopicExplanationContainer {
    word-break: break-word;
    max-width: 100%;
    overflow-wrap: break-word;
    height: 200px;
    overflow-y: scroll;
}

#SettingsButton {
    padding: 2px;
}

#SettingsButton:hover {
    opacity: 0.5;
}

#SettingsButton:active {
    color: rgba(0, 0, 0, 0.5)
}