.BootReminderModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.BootReminderModal-title {
  font-size: 26px;
  font-family: "lato", sans-serif;
  white-space: nowrap;
  margin-top: 0;
}

.BootReminderModal-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}

.BootReminderModal-icons ion-icon {
  font-size: 30px;
  margin-right: 5px;
}

.BootReminderModal-btn {
  width: 325px;
  margin-top: 12px;
}

.BootReminderModal-checkbox {
  --size: 18px;
  margin-top: 20px;
  font-size: 13px;
}
